<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
   <category label="General">
   	 <setting id="sorter" type="enum" values="Downloads|Title|DateArchieved|DatePublished|Creator" label="30028" default="0" enable="True"/>
   	 <setting id="download-mode" type="enum" values="Master Folder|Individual Folder by platform|Retropie" label="30029" default="0" enable="True"/>
      <setting id="download-folder" type="folder" label="30010" default="" visible="eq(-1,0)"/>
      <setting id="img-resolution" type="enum" values="High|Low" label="30011" default="0" enable="true"/>
      <setting id="confluence-res" type="bool" label="30012" default="true" />
      <setting id="view-id" type="number" label="30013"  default=""/>
      <setting id="modify-filename" type="bool" label="30025" default="true" />
      <setting id="modify-extension" type="bool" label="30026" default="false" />
      <setting id="extract-zip" type="bool" label="30027" default="false" />
      <setting id="extract-all-zips" type="bool" label="30031" default="false" />
      <setting id="last-platform" type="text" default="" visible="false"/>
   </category>
</settings>
